.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #e2e2e4;
}

.wrapper {
  max-width: 40rem;
  margin: 0 auto;
}

.heading {
  padding: 0 1.5rem 0.5rem 1.5rem;
  border-bottom: 0.125rem solid #4a4a4a;
}

.list {
  padding-right: 2rem;
  padding-left: 3rem;
  font-size: 1.25rem;
}
