.board7 {
  color: #fff;
  background: linear-gradient(to bottom, #ff302e 0%, #ef6632 100%);
}

.board8 {
  color: #fff;
  background: linear-gradient(to bottom, #223c3d 0%, #1c3934 100%);
}

.board9 {
  color: #fff;
  background: linear-gradient(to bottom, #ffbf6f 0%, #d4bf86 100%);
}
