@import '../../assets//scss/mixin.scss';
@import '../../assets/scss/variables.scss';

// Common

.h1,
.h2,
.h3 {
  font-family: 'Public Sans', sans-serif;
}

// Size

.h1 {
  font-size: $mod_1 * $mod_1 * $mod_1 * $mod_1 * 1rem;
  @include fluid-type(
    $min_width,
    $max_width,
    $mod_1 * $mod_1 * $mod_1 * $min_font,
    $mod_2 * $mod_2 * $mod_2 * $min_font
  );
}

.h2 {
  font-size: $mod_1 * $mod_1 * $mod_1 * 1rem;
  @include fluid-type(
    $min_width,
    $max_width,
    $mod_1 * $mod_1 * $mod_1 * $min_font,
    $mod_2 * $mod_2 * $mod_2 * $min_font
  );
}

.h3 {
  font-size: $mod_1 * $mod_1 * 1rem;
  @include fluid-type(
    $min_width,
    $max_width,
    $mod_1 * $mod_1 * $min_font,
    $mod_2 * $mod_2 * $min_font
  );
}

// Weight

.light {
  font-weight: $font-weight-light;
}

.regular {
  font-weight: $font-weight-regular;
}

.medium {
  font-weight: $font-weight-medium;
}

.semibold {
  font-weight: $font-weight-semibold;
}
