.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background:
    radial-gradient(circle at top left, #ffe366, #f06d06, 60%, transparent),
    radial-gradient(circle at bottom left, #4eaf36, #479b74);
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.heading {
  line-height: 1;
}

.author {
  position: relative;
}

.author::before,
.author::after {
  position: absolute;
  top: 2rem;
  content: '';
  width: 2.5rem;
  height: 0.125rem;
  background-color: #4a4a4a;
}

.author::before {
  left: -3rem;
}

.author::after {
  right: -3rem;
}

.nextContainer {
  position: absolute;
  right: 3rem;
  bottom: 3rem;
  cursor: pointer;
}

.nextButton {
  color: #eee;
  transition: color 100ms cubic-bezier(0.4, 0, 0.2, 1);
  animation: shaking 1s infinite alternate;
}

.nextButton:hover {
  color: #fff;
}

@keyframes shaking {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1rem);
  }
}
