.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.wrapper {
  max-width: 40rem;
  margin: 0 auto;
}

.description {
  padding: 0 1rem;
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
}

.image {
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    width: 100vw;
  }

  .description {
    margin-bottom: 3rem;
  }
}
